body{
    font-family: "Roboto", sans-serif;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    box-sizing: border-box;

}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
    gap: 8px;
    overflow: hidden;
    margin-top: -24px;
    justify-content: center;
    align-items: center;
}

.life{
    font-size: 250px;
    font-weight: bold;
    width: 300px;
    text-align: center;
}

.player{
    width: 100%;
    height: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    flex: 1;
}

.player > p{
    font-size: 40px;
    font-weight: bold;
}

.lifeCounter{
    display: flex;
    gap: 96px;
    align-items: center;
    justify-content: center;
    height: 50%;
}

button{
    background-color: transparent;
    color: black;
    width: 128px;
    height: 200px;
    font-weight: bold;
    font-size: 120px;
    border: none;  
}

.lifeButtons{
    display: flex;
    gap: 16px;
    margin-top: -80px;
}

.lifeButtons > button{
    background-color: transparent;
    color: black;
    width: 100%;
    height: 100%;
    font-weight: regular;
    font-size: 48px;
    border: 1px solid black; 
    border-radius: 8px;
    padding-inline: 24px;
}

.resetRow{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 64px;
    margin-top: 120px;
}

.resetRow > button{
    background-color: transparent;
    color: black;
    width: max-content;
    height: max-content;
    font-weight: regular;
    font-size: 48px;
    border: 1px solid black; 
    border-radius: 8px;
    padding-inline: 24px;
    padding-block: 8px;
}